@charset "ISO-8859-1";

body{
	background-image: url('https://media.istockphoto.com/photos/blur-school-library-or-study-room-with-book-shelves-for-education-picture-id1066991874?b=1&k=20&m=1066991874&s=170667a&w=0&h=9Kj9XAsVO9isTDbLR3IfUDM7tqLUEbq3OL6aR3Dnhic=');
	background-repeat: no-repeat;
	background-size:cover;
	color: white;
	font-style:bold;
	font-size:22px;
}


h3{
	
}